*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: orange;
}

html {
  line-height: 1.5;
  font-size: 20;
  font-family: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
  font-weight: normal;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  max-width: 70vw;
  margin: 10% auto;
  background-color: rgb(185, 168, 152);
}

h2 {
  font-size: 2em;
}

.shelf {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.book {
  background-color: rgb(255, 197, 189);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 30px 30px;
  padding: 10px;
}

.book-title {
  grid-column: 1 / 3;
  text-align: center;
  align-self: center;
}

.book-author {
  grid-column: 1 / 3;
}

.book-page-count {
  grid-column: 1 / 2;
}

.book-status {
  grid-column: 2 / 3;
  justify-self: end;
}

.book-author,
.book-page-count,
.book-status {
  align-self: end;
}

.add-book-button {
  background-color: rgba(255, 197, 189, 0.247);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6em;
}

.book,
.add-book-button {
  min-height: 250px;
  min-width: 250px;
}

.add-book-button:hover {
  cursor: pointer;
  background-color: rgba(180, 138, 132, 0.493);
}